.registerForm
{
    background-color: #0690cf;
    border: 3px #0075b2 solid;
    width: 400px;
    height: 280px;
    color: white;
}
.registerForm .topic
{
    margin: 10px 10px 5px 10px;
    font-size: 150%;
}
.registerForm .notATopic
{
    margin: 7% 50px 10px 10px ;
}
.registerForm .sendButton
{
    height: 25px;
    margin: 10px 0 0 3px;
    background-color: #ffdf7f;
    border-style: none;
}
.registerForm table
{
    width: 100%;
}
.registerForm td
{
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.registerForm table input
{
    border-style: none;
    height: 20px;
    display: block;
    width: 100%;
}
.delimeter{
    width: 100%;
    height: 2px;
    background-color:  white;
}