ul
{
    list-style-type: none;
    padding: 0;
}
.text
{padding: 5px;}
.sub
{
    visibility: hidden;
    position: fixed;
    background: white;
    padding: 5px;
    color: blue;
    cursor: pointer;
}
.first
{
    text-decoration:blue underline;
    color: blue;
    position: static;
    display: inline-block;
}
.first:hover
{
    text-decoration: none;
    border-radius: 5px;
    padding-bottom: 10px;
    color: black;
    -webkit-filter: drop-shadow(0 0 3px black);
    filter: drop-shadow(0 0 3px black);
    background: white;

}
.first li:hover
{
    background-color: blue;
    color: white;
}
.sublink .first:hover .sub, .sub .second:hover
{
    visibility: visible;
}