html
{
    background-color: #323232;
}
.column
{
    width: 50px;
    display: inline-block;
}
.piece
{
    background: linear-gradient(to bottom, #ffd059, #ff8c00);
    height: 30px;
    width: 100%;
    margin: 5px;
}
.upper-one
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}