body
{
    background-color: #4e6379;
}
.cnt
{
    width: 900px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 30px 70px 10px #333333;
}
.col1
{
    border-right: 2px #e6e6e6 solid;
}
.cnt td
{
    width: 33%;
}
.imgg
{
    height: 80px;
    overflow: hidden;
    border: 1px #333333;
}
.first
{
    margin-top: -80px;
}
.second
{
    margin-top: -160px;
}
.cnt h3
{
    color: #f2673a;
}
.cnt input
{
    width: 100px;
    border: 0;
    background-color: #f2673a;
    padding: 5px;
    color: white;
}