form{
    width: 400px;
    overflow: hidden;
    min-height: 100px;
    margin: 20px;
}
input{
    position: absolute;
    z-index: -1;
    height: 0;
}
label, span{
    display: inline-block;
}
span{
    position: relative;
    font-size: 20px;
    padding: 5px 10px;;
}
span::before,
span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 51%;
    left: 0;
    z-index: -1;
    margin-left: -4px;
}
span::before{
    top: 0;
    transform: skew(25deg);
    background: linear-gradient(180deg, #DDDDDD, #BFBFBF);
}
span::after{
    bottom: 0;
    transform: skew(-25deg);
    background: linear-gradient(180deg, #BFBFBF, #DDDDDD);
}
input:checked + span{
    color: white;
}
input:checked + span::before{
    background: linear-gradient(180deg, #A7DF7F, #66C621);
}
input:checked + span::after{
    background: linear-gradient(0deg, #A7DF7F, #66C621);
}
label:last-child input:checked + span{
    background: linear-gradient(180deg, #A7DF7F, #66C621, #A7DF7F);
}
label:last-child input + span{
    background: linear-gradient(180deg, #DDDDDD, #BFBFBF, #DDDDDD);
}